

body{
    margin: 0%;
    gap: 0%;
    
}



h2{
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
h3{
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: right;
    margin-top: -1.5em;
}

h4{
    font-family: "Roboto", sans-serif;
}

header object{
    width: 3em;
    padding: 0.1em;
}

div#layout-index{
    display: grid;
    height: 100em;
    grid-template-rows: 5em 3em 30em 100em 20em;
    grid-template-areas: 
    'hd'
    'nv'
    'dv'
    'wr'
    'ft';
}

div#layout-credit{
    display: grid;    
    height: 100em;
    grid-template-rows: 5em 3em 80em 1fr;
    grid-template-areas: 
    'hd'
    'nv'
    'wr'
    'ft';
}




div#layout{
    display: grid;    
    height: 200vh;
    grid-template-rows: 5em 3em;
    grid-template-areas: 
    'hd'
    'nv'
    'scw'
    'scw';
}

.Roboto{
    font-family: "Roboto", sans-serif;
    font-size: 5vh;
    text-align: center;
}



header{
    background-color: 	white;
    font-size: 400%;
    grid-area: hd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav{
    display: flex;
    grid-area: nv;
    background-color:white;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    overflow: hidden;
}



.wrapper{
    display: flex;
    height: 100%;
    grid-area: wr;
    flex-direction: row;
    background-color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0%;
    padding: 0%;
}
section#mainWrapper{
    display: flex;
    background-color: #01101b;
    flex-direction: column;
    grid-area: scw;
    flex-wrap: wrap;

}
footer{
    grid-area: ft;
    background-color: #3498db;
    bottom: 0;

}


.margin{
    margin-top: 50vh;
    margin-bottom: 100vh;
}

div#img{
    grid-area: dv;
    object-fit: cover;
    overflow: hidden;
}
div#img img{
    height: auto;
    max-width: 100%;
    
}

article {
    width: 40em;
    object-fit: cover;
    margin-top: 2em;
}

.article{
    background-color: #3498db;
    border-radius: 1em;
    margin-bottom: 1em;
} 

article img{
    width: 100%;
    border-radius: 1em;
    
}

button:hover{
    scale: 104%;
}

button{
    background-color: #3498db;
    border: none;
    border-radius: 1em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




a:link, a:visited {
  color: #3498db;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;

}


.ring{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}

.hidden {

    opacity: 0;
    
    transform: translateY(0);
    filter: blur(5px);
    transition: all 1s;

}

.show {
    filter: blur(0);
    opacity: 1;
    transform: translateY(-100%);
}